body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #333;
}

h1 {
    color: #f4f4f4;
}
h2 { 
    color : #f4f4f4;
}

p {
    color: #f4f4f4;
}
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

a {
    color: #70db9d; /* Colore viola chiaro per i link */
    text-decoration: none; /* Rimuove la sottolineatura */
}

a:visited {
    color: #70db9d; /* Colore link visitati (inherit farà sì che prenda il colore del testo) */
}

a:hover {
    color: #fff; /* Colore link hover (sfondo blu) */
}

.main-button {
    background-color: #007BFF; /* Colore di sfondo */
    color: white; /* Colore del testo */
    border: none; /* Nessun bordo */
    padding: 10px 15px; /* Padding interno */
    text-align: center; /* Testo centrato */
    text-decoration: none; /* Nessuna decorazione del testo */
    display: inline-block; /* Inline block per il layout */
    font-size: 16px; /* Dimensione del testo */
    margin: 15px 0; /* Margine sopra e sotto */
    cursor: pointer; /* Cursore a mano */
    border-radius: 5px; /* Angoli arrotondati */
}

.main-button:hover {
    background-color: #0056b3; /* Colore di sfondo al passaggio del mouse */
    transition: 0.7s;
}

footer {
    margin-top: 20px;
    font-size: 0.9em;
    color: #f4f4f4;
}
